[Dd]ebug/
[Rr]elease/
.vs/
twi_slave_chitrangna/
twi_master_chitrangna/
sagar-i2c-master/
sagar-i2c-slave/
#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec
*.mk
*.lss

#User Specific Files
*.atsuo
*.atsln
*.cproj
*.xml

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk